<h2>This is the individual page of: <%= @investor.name %> </h2>
<br>

<hr>
  <ul>
    <li>Name: <%= @investor.name %></li>
    <li>Image: <%= @investor.image %></li>
    <li>Education: <%= @investor.education %></li>
    <li>Age: <%= @investor.age %></li>
    <li>Experience: <%= @investor.experience %></li>
    <li>Blurb: <%= @investor.blurb %></li>
    <li>Location: <%= @investor.location %></li>
  </ul>
